<label for="id">
<f:translate key="tx_genesezrealestate_domain_model_realestate.id" />
</label><br />
<f:form.textbox property="id" /><br />
<label for="title">
<f:translate key="tx_genesezrealestate_domain_model_realestate.title" />
</label><br />
<f:form.textbox property="title" /><br />
<label for="description">
<f:translate key="tx_genesezrealestate_domain_model_realestate.description" />
</label><br />
<f:form.textbox property="description" /><br />
<label for="facility">
<f:translate key="tx_genesezrealestate_domain_model_realestate.facility" />
</label><br />
<f:form.textbox property="facility" /><br />
<label for="state">
<f:translate key="tx_genesezrealestate_domain_model_realestate.state" />
</label><br />
<f:form.textbox property="state" /><br />
<label for="miscellaneous">
<f:translate key="tx_genesezrealestate_domain_model_realestate.miscellaneous" />
</label><br />
<f:form.textbox property="miscellaneous" /><br />
<label for="street">
<f:translate key="tx_genesezrealestate_domain_model_realestate.street" />
</label><br />
<f:form.textbox property="street" /><br />
<label for="postCode">
<f:translate key="tx_genesezrealestate_domain_model_realestate.post_code" />
</label><br />
<f:form.textbox property="postCode" /><br />
<label for="town">
<f:translate key="tx_genesezrealestate_domain_model_realestate.town" />
</label><br />
<f:form.textbox property="town" /><br />
<label for="size">
<f:translate key="tx_genesezrealestate_domain_model_realestate.size" />
</label><br />
<f:form.textbox property="size" /><br />
<label for="cellar">
<f:translate key="tx_genesezrealestate_domain_model_realestate.cellar" />
</label><br />
<f:form.textbox property="cellar" /><br />
<label for="attic">
<f:translate key="tx_genesezrealestate_domain_model_realestate.attic" />
</label><br />
<f:form.textbox property="attic" /><br />
<label for="balcony">
<f:translate key="tx_genesezrealestate_domain_model_realestate.balcony" />
</label><br />
<f:form.textbox property="balcony" /><br />
<label for="freeFrom">
<f:translate key="tx_genesezrealestate_domain_model_realestate.free_from" />
</label><br />
<f:form.textbox property="freeFrom" /><br />
<label for="rentExclusiveOfHeating">
<f:translate key="tx_genesezrealestate_domain_model_realestate.rent_exclusive_of_heating" />
</label><br />
<f:form.textbox property="rentExclusiveOfHeating" /><br />
<label for="extraCharges">
<f:translate key="tx_genesezrealestate_domain_model_realestate.extra_charges" />
</label><br />
<f:form.textbox property="extraCharges" /><br />
<label for="cooperativeShare">
<f:translate key="tx_genesezrealestate_domain_model_realestate.cooperative_share" />
</label><br />
<f:form.textbox property="cooperativeShare" /><br />
<label for="imageFiles">
<f:translate key="tx_genesezrealestate_domain_model_realestate.image_files" />
</label><br />
<f:form.textbox property="imageFiles" /><br />
<label for="imageDescriptions">
<f:translate key="tx_genesezrealestate_domain_model_realestate.image_descriptions" />
</label><br />
<f:form.textbox property="imageDescriptions" /><br />
<label for="plotFile">
<f:translate key="tx_genesezrealestate_domain_model_realestate.plot_file" />
</label><br />
<f:form.textbox property="plotFile" /><br />

