<table class="tx-blog-example-validator" >
	<tr>
		<td>
			<f:translate key="tx_genesezrealestate_domain_model_realestate.id" />
		</td>
		<td>
			{RealEstate.id}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_genesezrealestate_domain_model_realestate.title" />
		</td>
		<td>
			{RealEstate.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_genesezrealestate_domain_model_realestate.description" />
		</td>
		<td>
			{RealEstate.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_genesezrealestate_domain_model_realestate.facility" />
		</td>
		<td>
			{RealEstate.facility}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_genesezrealestate_domain_model_realestate.state" />
		</td>
		<td>
			{RealEstate.state}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_genesezrealestate_domain_model_realestate.miscellaneous" />
		</td>
		<td>
			{RealEstate.miscellaneous}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_genesezrealestate_domain_model_realestate.street" />
		</td>
		<td>
			{RealEstate.street}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_genesezrealestate_domain_model_realestate.post_code" />
		</td>
		<td>
			{RealEstate.postCode}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_genesezrealestate_domain_model_realestate.town" />
		</td>
		<td>
			{RealEstate.town}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_genesezrealestate_domain_model_realestate.size" />
		</td>
		<td>
			{RealEstate.size}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_genesezrealestate_domain_model_realestate.cellar" />
		</td>
		<td>
			{RealEstate.cellar}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_genesezrealestate_domain_model_realestate.attic" />
		</td>
		<td>
			{RealEstate.attic}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_genesezrealestate_domain_model_realestate.balcony" />
		</td>
		<td>
			{RealEstate.balcony}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_genesezrealestate_domain_model_realestate.free_from" />
		</td>
		<td>
			{RealEstate.freeFrom}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_genesezrealestate_domain_model_realestate.rent_exclusive_of_heating" />
		</td>
		<td>
			{RealEstate.rentExclusiveOfHeating}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_genesezrealestate_domain_model_realestate.extra_charges" />
		</td>
		<td>
			{RealEstate.extraCharges}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_genesezrealestate_domain_model_realestate.cooperative_share" />
		</td>
		<td>
			{RealEstate.cooperativeShare}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_genesezrealestate_domain_model_realestate.image_files" />
		</td>
		<td>
			{RealEstate.imageFiles}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_genesezrealestate_domain_model_realestate.image_descriptions" />
		</td>
		<td>
			{RealEstate.imageDescriptions}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_genesezrealestate_domain_model_realestate.plot_file" />
		</td>
		<td>
			{RealEstate.plotFile}
		</td>
	</tr>
</table>
