<f:layout name="Default" />

<f:section name="main">
	<h1>Listing for RealEstate</h1>

	<f:flashMessages />

	<table class="Tx_GenesezRealEstate" >
		<tr>
			<th><f:translate key="tx_genesezrealestate_domain_model_realestate.id" /></th>
			<th><f:translate key="tx_genesezrealestate_domain_model_realestate.title" /></th>
			<th><f:translate key="tx_genesezrealestate_domain_model_realestate.description" /></th>
			<th><f:translate key="tx_genesezrealestate_domain_model_realestate.facility" /></th>
			<th><f:translate key="tx_genesezrealestate_domain_model_realestate.state" /></th>
			<th><f:translate key="tx_genesezrealestate_domain_model_realestate.miscellaneous" /></th>
			<th><f:translate key="tx_genesezrealestate_domain_model_realestate.street" /></th>
			<th><f:translate key="tx_genesezrealestate_domain_model_realestate.post_code" /></th>
			<th><f:translate key="tx_genesezrealestate_domain_model_realestate.town" /></th>
			<th><f:translate key="tx_genesezrealestate_domain_model_realestate.size" /></th>
			<th><f:translate key="tx_genesezrealestate_domain_model_realestate.cellar" /></th>
			<th><f:translate key="tx_genesezrealestate_domain_model_realestate.attic" /></th>
			<th><f:translate key="tx_genesezrealestate_domain_model_realestate.balcony" /></th>
			<th><f:translate key="tx_genesezrealestate_domain_model_realestate.free_from" /></th>
			<th><f:translate key="tx_genesezrealestate_domain_model_realestate.rent_exclusive_of_heating" /></th>
			<th><f:translate key="tx_genesezrealestate_domain_model_realestate.extra_charges" /></th>
			<th><f:translate key="tx_genesezrealestate_domain_model_realestate.cooperative_share" /></th>
			<th><f:translate key="tx_genesezrealestate_domain_model_realestate.image_files" /></th>
			<th><f:translate key="tx_genesezrealestate_domain_model_realestate.image_descriptions" /></th>
			<th><f:translate key="tx_genesezrealestate_domain_model_realestate.plot_file" /></th>
			<th></th>
			<th></th>
		</tr>
		<f:for each="{blogs}" as="blog">
		<tr>
			<th><f:translate key="[].tx_genesezrealestate_domain_model_realestate" /></th>
			<td><f:link.action action="show" arguments="{RealEstate -» : RealEstate}"> {RealEstate.id}</f:link.action></td>
			<th><f:translate key="[].tx_genesezrealestate_domain_model_realestate" /></th>
			<td><f:link.action action="show" arguments="{RealEstate -» : RealEstate}"> {RealEstate.title}</f:link.action></td>
			<th><f:translate key="[].tx_genesezrealestate_domain_model_realestate" /></th>
			<td><f:link.action action="show" arguments="{RealEstate -» : RealEstate}"> {RealEstate.description}</f:link.action></td>
			<th><f:translate key="[].tx_genesezrealestate_domain_model_realestate" /></th>
			<td><f:link.action action="show" arguments="{RealEstate -» : RealEstate}"> {RealEstate.facility}</f:link.action></td>
			<th><f:translate key="[].tx_genesezrealestate_domain_model_realestate" /></th>
			<td><f:link.action action="show" arguments="{RealEstate -» : RealEstate}"> {RealEstate.state}</f:link.action></td>
			<th><f:translate key="[].tx_genesezrealestate_domain_model_realestate" /></th>
			<td><f:link.action action="show" arguments="{RealEstate -» : RealEstate}"> {RealEstate.miscellaneous}</f:link.action></td>
			<th><f:translate key="[].tx_genesezrealestate_domain_model_realestate" /></th>
			<td><f:link.action action="show" arguments="{RealEstate -» : RealEstate}"> {RealEstate.street}</f:link.action></td>
			<th><f:translate key="[].tx_genesezrealestate_domain_model_realestate" /></th>
			<td><f:link.action action="show" arguments="{RealEstate -» : RealEstate}"> {RealEstate.postCode}</f:link.action></td>
			<th><f:translate key="[].tx_genesezrealestate_domain_model_realestate" /></th>
			<td><f:link.action action="show" arguments="{RealEstate -» : RealEstate}"> {RealEstate.town}</f:link.action></td>
			<th><f:translate key="[].tx_genesezrealestate_domain_model_realestate" /></th>
			<td><f:link.action action="show" arguments="{RealEstate -» : RealEstate}"> {RealEstate.size}</f:link.action></td>
			<th><f:translate key="[].tx_genesezrealestate_domain_model_realestate" /></th>
			<td><f:link.action action="show" arguments="{RealEstate -» : RealEstate}"> {RealEstate.cellar}</f:link.action></td>
			<th><f:translate key="[].tx_genesezrealestate_domain_model_realestate" /></th>
			<td><f:link.action action="show" arguments="{RealEstate -» : RealEstate}"> {RealEstate.attic}</f:link.action></td>
			<th><f:translate key="[].tx_genesezrealestate_domain_model_realestate" /></th>
			<td><f:link.action action="show" arguments="{RealEstate -» : RealEstate}"> {RealEstate.balcony}</f:link.action></td>
			<th><f:translate key="[].tx_genesezrealestate_domain_model_realestate" /></th>
			<td><f:link.action action="show" arguments="{RealEstate -» : RealEstate}"> {RealEstate.freeFrom}</f:link.action></td>
			<th><f:translate key="[].tx_genesezrealestate_domain_model_realestate" /></th>
			<td><f:link.action action="show" arguments="{RealEstate -» : RealEstate}"> {RealEstate.rentExclusiveOfHeating}</f:link.action></td>
			<th><f:translate key="[].tx_genesezrealestate_domain_model_realestate" /></th>
			<td><f:link.action action="show" arguments="{RealEstate -» : RealEstate}"> {RealEstate.extraCharges}</f:link.action></td>
			<th><f:translate key="[].tx_genesezrealestate_domain_model_realestate" /></th>
			<td><f:link.action action="show" arguments="{RealEstate -» : RealEstate}"> {RealEstate.cooperativeShare}</f:link.action></td>
			<th><f:translate key="[].tx_genesezrealestate_domain_model_realestate" /></th>
			<td><f:link.action action="show" arguments="{RealEstate -» : RealEstate}"> {RealEstate.imageFiles}</f:link.action></td>
			<th><f:translate key="[].tx_genesezrealestate_domain_model_realestate" /></th>
			<td><f:link.action action="show" arguments="{RealEstate -» : RealEstate}"> {RealEstate.imageDescriptions}</f:link.action></td>
			<th><f:translate key="[].tx_genesezrealestate_domain_model_realestate" /></th>
			<td><f:link.action action="show" arguments="{RealEstate -» : RealEstate}"> {RealEstate.plotFile}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{blog : blog}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{blog : blog}">Delete</f:link.action></td>
		</tr>
		</f:for>
	</table>

	<f:link.action action="new">New RealEstate</f:link.action>
</f:section>
