<f:layout name="Default" />

<f:section name="main">
	<h1>Listing for RealEstate</h1>

	<f:flashMessages />

	<table>
		<tr>
			<th><f:translate key="tx_genesezrealestate_domain_model_realestate" /></th>
			<th><f:translate key="tx_genesezrealestate_domain_model_realestate" /></th>
			<th><f:translate key="tx_genesezrealestate_domain_model_realestate" /></th>
			<th><f:translate key="tx_genesezrealestate_domain_model_realestate" /></th>
			<th><f:translate key="tx_genesezrealestate_domain_model_realestate" /></th>
			<th><f:translate key="tx_genesezrealestate_domain_model_realestate" /></th>
			<th><f:translate key="tx_genesezrealestate_domain_model_realestate" /></th>
			<th><f:translate key="tx_genesezrealestate_domain_model_realestate" /></th>
			<th><f:translate key="tx_genesezrealestate_domain_model_realestate" /></th>
			<th><f:translate key="tx_genesezrealestate_domain_model_realestate" /></th>
			<th><f:translate key="tx_genesezrealestate_domain_model_realestate" /></th>
			<th><f:translate key="tx_genesezrealestate_domain_model_realestate" /></th>
			<th><f:translate key="tx_genesezrealestate_domain_model_realestate" /></th>
			<th><f:translate key="tx_genesezrealestate_domain_model_realestate" /></th>
			<th><f:translate key="tx_genesezrealestate_domain_model_realestate" /></th>
			<th><f:translate key="tx_genesezrealestate_domain_model_realestate" /></th>
			<th><f:translate key="tx_genesezrealestate_domain_model_realestate" /></th>
			<th><f:translate key="tx_genesezrealestate_domain_model_realestate" /></th>
			<th><f:translate key="tx_genesezrealestate_domain_model_realestate" /></th>
			<th><f:translate key="tx_genesezrealestate_domain_model_realestate" /></th>
			<th></th>
			<th></th>
		</tr>
		<f:for each="{list}" as="realEstate">
		<tr>
			<td><f:link.action action="show" arguments="{realEstate : realEstate}"> {realEstate.id}</f:link.action></td>
			<td><f:link.action action="show" arguments="{realEstate : realEstate}"> {realEstate.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{realEstate : realEstate}"> {realEstate.description}</f:link.action></td>
			<td><f:link.action action="show" arguments="{realEstate : realEstate}"> {realEstate.facility}</f:link.action></td>
			<td><f:link.action action="show" arguments="{realEstate : realEstate}"> {realEstate.state}</f:link.action></td>
			<td><f:link.action action="show" arguments="{realEstate : realEstate}"> {realEstate.miscellaneous}</f:link.action></td>
			<td><f:link.action action="show" arguments="{realEstate : realEstate}"> {realEstate.street}</f:link.action></td>
			<td><f:link.action action="show" arguments="{realEstate : realEstate}"> {realEstate.postCode}</f:link.action></td>
			<td><f:link.action action="show" arguments="{realEstate : realEstate}"> {realEstate.town}</f:link.action></td>
			<td><f:link.action action="show" arguments="{realEstate : realEstate}"> {realEstate.size}</f:link.action></td>
			<td><f:link.action action="show" arguments="{realEstate : realEstate}"> {realEstate.cellar}</f:link.action></td>
			<td><f:link.action action="show" arguments="{realEstate : realEstate}"> {realEstate.attic}</f:link.action></td>
			<td><f:link.action action="show" arguments="{realEstate : realEstate}"> {realEstate.balcony}</f:link.action></td>
			<td><f:link.action action="show" arguments="{realEstate : realEstate}"> {realEstate.freeFrom}</f:link.action></td>
			<td><f:link.action action="show" arguments="{realEstate : realEstate}"> {realEstate.rentExclusiveOfHeating}</f:link.action></td>
			<td><f:link.action action="show" arguments="{realEstate : realEstate}"> {realEstate.extraCharges}</f:link.action></td>
			<td><f:link.action action="show" arguments="{realEstate : realEstate}"> {realEstate.cooperativeShare}</f:link.action></td>
			<td><f:link.action action="show" arguments="{realEstate : realEstate}"> {realEstate.imageFiles}</f:link.action></td>
			<td><f:link.action action="show" arguments="{realEstate : realEstate}"> {realEstate.imageDescriptions}</f:link.action></td>
			<td><f:link.action action="show" arguments="{realEstate : realEstate}"> {realEstate.plotFile}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{realEstate : realEstate}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{realEstate : realEstate}">Delete</f:link.action></td>
		</tr>
		</f:for>
	</table>

	<f:link.action action="new">New RealEstate</f:link.action>
</f:section>
