<f:layout name="Default" />

<f:section name="main">

<div class="tx-gszrealestate-show-searchbox">
	<f:form method="post" action="search" name="demand" object="{demand}" class="yform full">
		<div class="type-text">
			<label for=max_rent_exclusive_of_heating>{f:translate(key : 'tx_gszrealestate_search.max_rent_exclusive_of_heating' )}</label>
			<f:form.textfield property="maxRentExclusiveOfHeating" size="20" />
		</div>
		<div class="type-text">
			<label for=min_size>{f:translate(key : 'tx_gszrealestate_search.min_size' )}</label>
			<f:form.textfield property="minSize" size="20" />
		</div>
		<div class="type-text">
			<label for=town>{f:translate(key : 'tx_gszrealestate_search.town' )}</label>
			<f:form.textfield property="town" size="20" />
		</div>
		<div class="type-select">
			<label for=min_rooms>{f:translate(key : 'tx_gszrealestate_search.min_rooms' )}</label>
			<f:form.select property="minRooms" options="{roomTypes}" optionValueField="uid" optionLabelField="specification">
				<select>
					<option>###dummy###</option>
				</select>
			</f:form.select>
		</div>
		<div class="type-select">
			<label for=floor>{f:translate(key : 'tx_gszrealestate_search.floor' )}</label>
			<f:form.select property="floor" options="{floorTypes}" optionValueField="uid" optionLabelField="specification">
				<select>
					<option>###dummy###</option>
				</select>
			</f:form.select>
		</div>
		<div class="type-button">
			<f:form.submit value="{f:translate(key : 'tx_gszrealestate_search.submit' )}" />
		</div>
	</f:form>
</div>

</f:section>