<label for="id">
	<f:translate key="tx_genesezrealestate_domain_model_realestate.id" /> <span class="required">(required)</span>
</label><br />
<f:form.textbox property="id" /><br />
<label for="title">
	<f:translate key="tx_genesezrealestate_domain_model_realestate.title" /> <span class="required">(required)</span>
</label><br />
<f:form.textbox property="title" /><br />
<label for="description">
	<f:translate key="tx_genesezrealestate_domain_model_realestate.description" /> <span class="required">(required)</span>
</label><br />
<f:form.textbox property="description" /><br />
<label for="facility">
	<f:translate key="tx_genesezrealestate_domain_model_realestate.facility" /> <span class="required">(required)</span>
</label><br />
<f:form.textbox property="facility" /><br />
<label for="state">
	<f:translate key="tx_genesezrealestate_domain_model_realestate.state" /> <span class="required">(required)</span>
</label><br />
<f:form.textbox property="state" /><br />
<label for="miscellaneous">
	<f:translate key="tx_genesezrealestate_domain_model_realestate.miscellaneous" /> <span class="required">(required)</span>
</label><br />
<f:form.textbox property="miscellaneous" /><br />
<label for="street">
	<f:translate key="tx_genesezrealestate_domain_model_realestate.street" /> <span class="required">(required)</span>
</label><br />
<f:form.textbox property="street" /><br />
<label for="post_code">
	<f:translate key="tx_genesezrealestate_domain_model_realestate.post_code" /> <span class="required">(required)</span>
</label><br />
<f:form.textbox property="postCode" /><br />
<label for="town">
	<f:translate key="tx_genesezrealestate_domain_model_realestate.town" /> <span class="required">(required)</span>
</label><br />
<f:form.textbox property="town" /><br />
<label for="size">
	<f:translate key="tx_genesezrealestate_domain_model_realestate.size" /> <span class="required">(required)</span>
</label><br />
<f:form.textbox property="size" /><br />
<label for="cellar">
	<f:translate key="tx_genesezrealestate_domain_model_realestate.cellar" /> <span class="required">(required)</span>
</label><br />
<f:form.textbox property="cellar" /><br />
<label for="attic">
	<f:translate key="tx_genesezrealestate_domain_model_realestate.attic" /> <span class="required">(required)</span>
</label><br />
<f:form.textbox property="attic" /><br />
<label for="balcony">
	<f:translate key="tx_genesezrealestate_domain_model_realestate.balcony" /> <span class="required">(required)</span>
</label><br />
<f:form.textbox property="balcony" /><br />
<label for="free_from">
	<f:translate key="tx_genesezrealestate_domain_model_realestate.free_from" /> <span class="required">(required)</span>
</label><br />
<f:form.textbox property="freeFrom" /><br />
<label for="rent_exclusive_of_heating">
	<f:translate key="tx_genesezrealestate_domain_model_realestate.rent_exclusive_of_heating" /> <span class="required">(required)</span>
</label><br />
<f:form.textbox property="rentExclusiveOfHeating" /><br />
<label for="extra_charges">
	<f:translate key="tx_genesezrealestate_domain_model_realestate.extra_charges" /> <span class="required">(required)</span>
</label><br />
<f:form.textbox property="extraCharges" /><br />
<label for="cooperative_share">
	<f:translate key="tx_genesezrealestate_domain_model_realestate.cooperative_share" /> <span class="required">(required)</span>
</label><br />
<f:form.textbox property="cooperativeShare" /><br />
<label for="image_files">
	<f:translate key="tx_genesezrealestate_domain_model_realestate.image_files" /> <span class="required">(required)</span>
</label><br />
<f:form.textbox property="imageFiles" /><br />
<label for="image_descriptions">
	<f:translate key="tx_genesezrealestate_domain_model_realestate.image_descriptions" /> <span class="required">(required)</span>
</label><br />
<f:form.textbox property="imageDescriptions" /><br />
<label for="plot_file">
	<f:translate key="tx_genesezrealestate_domain_model_realestate.plot_file" /> <span class="required">(required)</span>
</label><br />
<f:form.textbox property="plotFile" /><br />
