<table>
	<tr>
		<td>
			<f:translate key="tx_genesezrealestate_domain_model_realestate.id" />
		</td>
		<td>
			{realEstate.id}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_genesezrealestate_domain_model_realestate.title" />
		</td>
		<td>
			{realEstate.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_genesezrealestate_domain_model_realestate.description" />
		</td>
		<td>
			{realEstate.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_genesezrealestate_domain_model_realestate.facility" />
		</td>
		<td>
			{realEstate.facility}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_genesezrealestate_domain_model_realestate.state" />
		</td>
		<td>
			{realEstate.state}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_genesezrealestate_domain_model_realestate.miscellaneous" />
		</td>
		<td>
			{realEstate.miscellaneous}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_genesezrealestate_domain_model_realestate.street" />
		</td>
		<td>
			{realEstate.street}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_genesezrealestate_domain_model_realestate.post_code" />
		</td>
		<td>
			{realEstate.postCode}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_genesezrealestate_domain_model_realestate.town" />
		</td>
		<td>
			{realEstate.town}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_genesezrealestate_domain_model_realestate.size" />
		</td>
		<td>
			{realEstate.size}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_genesezrealestate_domain_model_realestate.cellar" />
		</td>
		<td>
			{realEstate.cellar}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_genesezrealestate_domain_model_realestate.attic" />
		</td>
		<td>
			{realEstate.attic}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_genesezrealestate_domain_model_realestate.balcony" />
		</td>
		<td>
			{realEstate.balcony}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_genesezrealestate_domain_model_realestate.free_from" />
		</td>
		<td>
			{realEstate.freeFrom}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_genesezrealestate_domain_model_realestate.rent_exclusive_of_heating" />
		</td>
		<td>
			{realEstate.rentExclusiveOfHeating}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_genesezrealestate_domain_model_realestate.extra_charges" />
		</td>
		<td>
			{realEstate.extraCharges}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_genesezrealestate_domain_model_realestate.cooperative_share" />
		</td>
		<td>
			{realEstate.cooperativeShare}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_genesezrealestate_domain_model_realestate.image_files" />
		</td>
		<td>
			{realEstate.imageFiles}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_genesezrealestate_domain_model_realestate.image_descriptions" />
		</td>
		<td>
			{realEstate.imageDescriptions}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_genesezrealestate_domain_model_realestate.plot_file" />
		</td>
		<td>
			{realEstate.plotFile}
		</td>
	</tr>
</table>
