<f:layout name="Default" />

<f:section name="main">

<div class="tx-gszrealestate-show-searchform">
	<f:form method="post" action="search" name="demand" object="{demand}" class="yform full">
	
		<!-- Subtemplate: 2 columns with 50/50 division -->
		<div class="subcolumns">
			<div class="c50l">
				<div class="subcl">
				
					<div class="type-text">
						<label for=max_rent_exclusive_of_heating>{f:translate(key : 'tx_gszrealestate_search.max_rent_exclusive_of_heating' )}</label>
						<f:form.textfield property="maxRentExclusiveOfHeating" size="20" />
					</div>
					<div class="type-text">
						<label for=min_size>{f:translate(key : 'tx_gszrealestate_search.min_size' )}</label>
						<f:form.textfield property="minSize" size="20" />
					</div>
					<div class="type-text">
						<label for=town>{f:translate(key : 'tx_gszrealestate_search.town' )}</label>
						<f:form.textfield property="town" size="20" />
					</div>
				
				</div>
			</div>
			<div class="c50r">
				<div class="subcr">
				
					<div class="type-select">
						<label for=min_rooms>{f:translate(key : 'tx_gszrealestate_search.min_rooms' )}</label>
						<f:form.select property="minRooms" options="{roomTypes}" optionValueField="uid" optionLabelField="specification">
							<select>
								<option>###dummy###</option>
							</select>
						</f:form.select>
					</div>
					<div class="type-select">
						<label for=balcony>{f:translate(key : 'tx_gszrealestate_search.balcony' )}</label>
						<f:form.select property="balcony" options="{balcony}" >
							<select>
								<option>###dummy###</option>
							</select>
						</f:form.select>
					</div>
					<div class="type-select">
						<label for=quarter>{f:translate(key : 'tx_gszrealestate_search.quarter' )}</label>
						<f:form.select property="quarter" options="{quarters}" optionValueField="uid" optionLabelField="name">
							<select>
								<option>###dummy###</option>
							</select>
						</f:form.select>
					</div>
					<div class="type-select">
						<label for=floor>{f:translate(key : 'tx_gszrealestate_search.floor' )}</label>
						<f:form.select property="floor" options="{floorTypes}" optionValueField="uid" optionLabelField="specification">
							<select>
								<option>###dummy###</option>
							</select>
						</f:form.select>
					</div>
				
				</div>
			</div>
		</div>

		<div class="type-button">
			<f:form.submit value="{f:translate(key : 'tx_gszrealestate_search.submit' )}" />
		</div>
	</f:form>
</div>

</f:section>